.gallery {
    display: flex;
    height: 400px;
    gap: 1em;
}

.galleryImage {
    flex: 1;
    position: relative;
}

.galleryImage img {
    border-radius: 30px;
}

.gallery:first-child > .galleryImage:nth-child(2) {
    top: -2em;
}

@media screen and (max-width: 820px) {
    .gallery {
        height: 200px;
    }
    
    .galleryImage:nth-child(1) {
        display: inline-block;
    }

    .galleryImage {
        display: none;
    }
}