.gallery {
    margin: auto;
    max-width: 1200px;
    display: flex;
    height: 400px;
    gap: 1em;
}

.galleryImage {
    width: 50%;
    position: relative;
}

.section:nth-child(1) > .gallery > .galleryImage:nth-child(2) {
    top: -2em;
}

.section {
    margin-top: 5em;
    width: 100%;
}

.section:nth-child(1) {
    margin-top: 0;
}

@media screen and (max-width: 520px) {
    .gallery {
        height: 200px;
    }
    
    .galleryImage:nth-child(1) {
        display: inline-block;
        width: 100%;
    }

    .galleryImage {
        display: none;
    }

    .section {
        margin-top: 2em;
    }
}