.main {
    text-align: center;
}

.main > p {
    text-align: center;
    margin: 4px;
    display: inline-block;
    padding: 2px;
}

.gallery > p {
    text-align: center;
    display: inline-block;
    margin-top: 60px;
    margin: 0 1em;
    position: relative;
}

main .section:nth-child(1) .gallery > p:nth-child(2) {
    top: -2em;
}

.text {
    text-align: justify;
}

.section {
    margin-bottom: 5em;
}