@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue1: #047FD9;
  --blue2: #3A48C1;
  --grey: #5A5A5A;
}

.title-one,
.title-two {
  background: linear-gradient(to bottom, var(--blue1), var(--blue2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.title-one {
  font-size: 3.5em;
}

.title-two {
  font-size: 2em;
}

main {
  @apply flex min-h-screen flex-col items-center justify-between py-24 mx-16;
}

footer {
  @apply py-12 px-32;
  width: 100%;
  padding: 2em 7em;
  background-color: #F5F5F5;
}

footer > p {
  text-align: center;
}

@media screen and (max-width: 580px) {
  main {
    @apply flex min-h-screen flex-col items-center justify-between py-12 mx-8;
  }

  .title-one,
  .title-two {
    font-size: 1.5em;
  }

  footer {
    @apply py-6 px-6;
  }
}