.contentPair {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

.contentPair:first-child {
    gap: 8em;
    margin-bottom: 5em;
}

.contentPair:nth-child(2) {
    margin-bottom: 1em;
}

.dengueAttacksContent {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dengueAttacksImage {
    display: flex;
    gap: 1em;
    height: 400px;
}

.dengueAttacksImage .galleryImage:first-child {
    position: relative;
    top: -2em;
}

.dengueAttacksImage .galleryImage:last-child {
    position: relative;
    top: 2em;
}

.gallery {
    display: flex;
    gap: 1em;
}

.verticalGallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1em;
}

.verticalGallery > .galleryImage {
    flex: 2;
}

.horizontalGallery {
    display: flex;
    gap: 1em;
    flex: 1;
}

.galleryImage,
.contentPairImage {
    position: relative;
    flex: 1;
}

.contentPairImage {
    min-height: 300px;
}

.galleryImage img,
.contentPairImage img {
    border-radius: 30px;
}

.emphasis {
    background: linear-gradient(to top, #458AF1, #0940CC);
    color: #fff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.emphasisTitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.charges {
    display: flex;
    gap: 2em;
}

.charge {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.charge h1 {
    font-weight: bold;
}

.charge h1,
.charge p {
    text-align: center;
}

.chargeImage {
    height: 100px;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .contentPair {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .contentPair:first-child {
        gap: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 850px) {
    .gallery {
        height: 200px;
    }

    .verticalGallery > .galleryImage ~ * {
        display: none;
    }

    .dengueAttacksImage .galleryImage:first-child {
        top: 0;
    }

    .dengueAttacksImage .galleryImage:last-child {
        display: none;
    }

    .charges {
        flex-direction: column;
    }
}