.container {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
    
.TituloPrincipal {
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 0 3em;
    background-image: linear-gradient(to bottom, #4C6DE5, #243FC8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.Introducao {
    margin: 50px;
}

.SubCabecalho {
    margin: 15px;
}

.SubCabecalho h2 {
    background: linear-gradient(180deg, #4C6DE5 48.96%, #243FC8 100%);
    font-size: 35px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.FlexContainer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    text-align: left;
}

.FlexContainer p {
    flex: 1;
    margin-right: 20px;
}

.ImagemMosquito {
    position: relative;
    flex: 1;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    margin-left: 20px;
}

.ImagemMosquito img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.ImagemMosquito img{
    transform: scale(1.1);
}

.ImagensTratamentos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.ImagemColuna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400;
}

.ImagemTratamento {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
