.content {
    margin-top: 5em;
}

.identifySymptons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    align-items: stretch;
}

.identifySymptonsImage {
    position: relative;
}

.identifySymptons p:last-child {
    color: var(--blue1);
}

.gallery {
    display: flex;
    gap: 1em;
    height: 400px;
}

.verticalGallery {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;
}

.galleryImage {
    position: relative;
    height: 100%;
    width: 100%;
}

.gallery:last-child {
    margin-top: 5em;
}

.galleryImage img,
.identifySymptonsImage img {
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    .banner .verticalGallery:first-child {
        height: auto;
    }

    .banner .verticalGallery:last-child {
        display: none;
    }
    
    .identifySymptons {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .identifySymptonsImage {
        height: 400px;
    }
}

@media screen and (max-width: 520px) {
    .content {
        margin-top: 2em;
    }

    .gallery:last-child {
        margin-top: 2em;
        height: 200px;
    }

    .gallery:last-child .verticalGallery:first-child .galleryImage:first-child,
    .gallery:last-child .verticalGallery:last-child .galleryImage,
    .gallery:last-child .verticalGallery:last-child {
        display: none;
    }
}