.footer > p {
    text-align: center;
}

.footerInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 2em;
    gap: 2em;
}

.footerInfo div:nth-child(2) {
    margin-top: auto;
}

.footerInfo h2 {
    font-size: 1.4em;
}

.footerInfo p {
    color: #00000080;
    display: flex;
    gap: .5em;
}