.boxImg {
    display: flex;
    gap: 1em;
    height: 400px;
    width: 100%;
    align-items: flex-end;
}

.ImagensPrevencao {
    position: relative;
    height: 70%;
    width: 25%;
}

.textoPrimeiro > h2, .textoSegundo > h2, .textoTerceiro > h2, .textoQuarto > h2 {
    background: linear-gradient(to bottom, #4C6DE5, #243FC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.textoPrimeiro > p, .textoSegundo > p, .textoTerceiro > p, .textoQuarto > p {
    margin-top: 20px;
    text-align: justify;
}

.listaPrincipal {
    list-style-type: disc;
    padding: 0;
    margin: 0;
}

.itensLista {
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
}