.gallery {
    display: flex;
    gap: 1em;
    height: 400px;
}

.verticalGallery,
.galleryCenter {
    flex: 1;
}

.verticalGallery {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.galleryImage {
    position: relative;
    height: 100%;
    width: 100%;
}

.content {
    margin-top: 5em;
}

.content p {
    margin-top: 20px;
    text-align: justify;
}

@media screen and (max-width: 520px) {
    .gallery {
        height: 280px;
    }

    .verticalGallery {
        display: none;
    }

    .galleryCenter {
        width: 100%;
    }

    .content {
        margin-top: 2em;
    }
}