@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.textodestaque {
    background: -webkit-linear-gradient(#4C6DE5, #243FC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    position: absolute;
    left: 1125px;
    top: 80px;
}

.principal {
    scale: 100%;
    width: 1624px;
    height: 568px;
}

.ataques > h1 {
    color: #0940CC;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    text-align: left;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 70px;
}

.ataques > p {
    color: #412D6F;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
    width: 1630px;
}

.evolucao {
    display: flex;
    margin: 5px;
}

.evolucao > .fotoalcool {
    margin-top: 170px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.fotoalcool {
    width: 760px;
    height: 505px;
    justify-content: center;
}

.textoevolucao > h1 {
    color: #0940CC;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    text-align: left;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 70px;
}

.textoevolucao > p {
    color: #412D6F;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
    width: 775px;
}