.textoDestaque {
    background: -webkit-linear-gradient(#4C6DE5, #243FC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    position: absolute;
    right: 50px;
    top: 80px;
    z-index: -1;
}

.principal {
    display: flex;
    gap: 1em;
    height: 400px;
    width: 100%;
    align-items: flex-end;
}

.imagem {
    position: relative;
    height: 70%;
    width: 25%;
}

.imagem:nth-child(2) {
    height: 100%;
}

.ataques,
.evolucao {
    margin-top: 5em;
}

.ataques > p {
    color: #412D6F;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
    text-align: justify;
}

.evolucao {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

.textoEvolucao > p {
    color: #412D6F;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
}

.fotoAlcool {
    position: relative;
    height: 100%;
}

@media screen and (max-width: 820px) {
    .evolucao {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .fotoAlcool {
        height: 200px;
    }
}

@media screen and (max-width: 520px) {
    .principal {
        height: 280px;
    }

    .imagem {
        width: 100%;
        height: 100%;
    }

    .imagem ~ * {
        display: none;
    }

    .ataques,
    .evolucao {
        margin-top: 2em;
    }
}